.page-header 
  %h3 等离子特性参量数据一览

%table.table.table-striped.table-hover#tb-overview
  %thead
    %tr
      %th{:colspan=>3,:style=>"font-size:20px;"} 
        %span.label.label-info 实验名称
      %th{:colspan=>12,:style=>"font-size:20px;"} 
        %span.label.label-success 基本参数设定
    %tr
      %th{:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5)"} 序号
      %th{:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5)"} 薄膜名称
      %th{:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5)"} 主要元素
      %th.success{:colspan=>4} 靶材1
      %th.success{:colspan=>4} 靶材2
      %th.success{:colspan=>4} 气体流量
    %tr
      %th.success 名称
      %th.success 电压
      %th.success 电流
      %th.success 功率
      %th.success 名称
      %th.success 电压
      %th.success 电流
      %th.success 功率
      %th.success 氩气
      %th.success 氮气
      %th.success 氧气
      %th.success 甲烷
  %tbody
    - @hipims_data.each do |row|
      %tr
        - row.each do |item|
          %th 
            = !item.nil? ? "#{item}" : "-"
