.form-group{:style=>"margin-top:24px;"}
  %span.label.label-info{:style=>"font-size:14px;"} 
    = "其余参数"
.form-group{:style=>"margin-left:10px;"}
  %label{:for=>"c2-elem-zhenkong"} 本底真空
  %input.form-control.col-sm-1#c2-elem-zhenkong{:name=>"val[zhenkong]"}
.form-group{:style=>"margin-left:10px;"}
  %label{:for=>"c2-elem-pianya"} 基底偏压
  %input.form-control.col-sm-1#c2-elem-pianya{:name=>"val[pianya]"}
.form-group{:style=>"margin-left:10px;"}
  %label{:for=>"c2-elem-qiya"} 工作气压
  %input.form-control.col-sm-1#c2-elem-qiya{:name=>"val[qiya]"}
- if current_page? "/items/#{@item.id}/edit"
  .form-group{:style=>"margin-left:10px; margin-top:24px"}
    %input.btn.btn-primary{:type=>"submit",:value=>"保存"}