.form-group.col-sm-2{:style=>"margin-top:32px; width:75px;"}
  %span.label.label-info{:style=>"font-size:14px;"}
    = "探针参数"
- this_col = @col3["elem1"] rescue nil
.form-group.col-sm-2{:style=>"margin-left:10px;"}
  %label{:for=>"c3-elem-bajiju"} 靶基距
  %input.form-control#c3-elem-bajiju{:name=>"val[elem1][bajiju]",:value=>"#{this_col["bajiju"] rescue nil}"}
.form-group.col-sm-2
  %label{:for=>"c3-elem-mianji"} 表面积 A
  %input.form-control#c3-elem-mianji{:name=>"val[elem1][mianji]",:value=>"#{this_col["mianji"] rescue nil}"}
- if current_page? "/items/#{@item.id}/edit"
  .form-group{:style=>"margin-top:25px"}
    %input.btn.btn-primary{:type=>"submit",:value=>"保存"}