.row
  .col-lg-2
  .col-lg-8
    #canvas-fld
:javascript
  $(function () {
    $('#canvas-fld').hide()
    $.getJSON('/read_graph/#{@item.id}/c5_ion', function (json_data) {
      if(json_data.length){
        $('#canvas-fld').show()
        $('#canvas-fld').highcharts({
          chart: {
                type: 'line'
          },
          title: {
              text: '离子能量分布谱'
          },
          xAxis: {
              type: 'linear',
              // dateTimeLabelFormats: { // don't display the dummy year
              //    month: '%e. %b',
              //    year: '%b'
              //},
              title: {
                  text: 'Ion Energy, eV'
              }
          },
          yAxis: {
            labels:{
              enabled: false
            },
            title:{
              text: 'IEDF, a.u.'
            }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: .2f}, {point.y}'
          },
          series: [{
              name: '离子能量',
              data: json_data
          }]
        });
      }
    });
  });
