.page-header 
  %h3 创建数据项

.page-header 
  %h4 溅射实验基本参数

.page-header 
  %h4 朗缪尔探针参数

.page-header 
  %h4 等离子体发射诊断 ( OES )

%p 
  精细谱
  .btn.btn-xs.btn-primary 上传
%br
%p 
  全谱
  .btn.btn-xs.btn-primary 上传

.page-header 
  %h4 离子能量分布诊断 ( FLD )

%p 
  离子能量分布谱
  .btn.btn-xs.btn-primary 上传