.page-header 
  %h3 
    %a{:href=>"/items"}数据一览
    = "/"
    创建数据项
    %i.glyphicon.glyphicon-ok{:style=>"color:green;font-size:20px;"}
    %button.btn.btn-danger.pull-right#item-delete{:type=>"button",:action=>"/items/#{@item.id}",:style=>"margin-left:10px;"} 删除该数据项

= render "items/template_item"