// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tb-overview th{
  text-align: center;
}
/*
.top-fix-header{
  position:fixed; 
  z-index:10; 
  width:100%;
  height:80px;
  background-color:white;
  margin-top:0px;
}

.top-fix-header h3{
  margin-top: 30px;
}*/

.header{
  background-size: cover !important;
  background: url("background.svg") center 0 fixed no-repeat;
  height: 497px;
  margin-bottom: 0;
  background-color: #00b4d1;
  /*filter: Alpha(Opacity=90);*/
  /*opacity:0.90;*/
}

.heading{
  font-size: 55px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.sub-heading{
  margin-top: 6px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.sub-heading .glyphicon{
  margin-top: 6px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}