// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tb-overview th{
  text-align: center;
}

.top-fix-header{
  position:fixed; 
  z-index:10; 
  width:100%;
  height:80px;
  background-color:white;
  margin-top:0px;
}

.top-fix-header h3{
  margin-top: 30px;
}