.page-header
  %h3 访问数据库
%p{:style=>"font-size:18px;"}
  目前系统不对外开放，请联系
  %a{:href=>"http://coatings.imech.ac.cn/", :target=>"_blank"} 
    镀层工艺力学与摩擦学课题组
  创建账号并获取访问权限

.page-header
  %h3 系统主要更新日志
%div{:style=>"font-size:16px;"}
  %p  
    2014.11.27 -- 增加了 用户登陆功能
  %p
    2014.11.26 -- 增加了 数据库数值字段排序、技术支持页面
  %p
    2014.11.22 -- 增加了 主页内容及样式
  %p
    2014.11.18 -- 试运行，切换至生产环境
  %p
    2014.11.17 -- 增加了 谱线文件上传及可视化
  %p
    2014.11.05 -- 增加了 数据项更新功能
  %p
    2014.10.29 -- 增加了 数据一览视图
  %p
    2014.10.06 -- 基础系统环境搭建

.page-header
  %h3 系统环境
%div{:style=>"font-size:16px;"}
  %p  
    托管于
    %a{:href=>"http://www.ucloud.cn/", :target=>"_blank"} 
      UCLOUD
    云平台 北京机房
  %p 主机环境 Ubuntu, 网络带宽 2M
  %p 采用 Ruby on Rails + MySQL 搭建
